[submodule "psxrecomp"]
	path = psxrecomp
	url = https://github.com/TekRantGaming/psxrecomp.git
	branch = pointblank
[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/TekRantGaming/recomp-ui.git
	branch = pointblank
